<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/tvdgroup/ico/favicon.ico">

    <title>Target Value Design Research Group</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="https://s3-us-west-2.amazonaws.com/tvdgroup/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">TVD Research Group</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="/">Home</a></li>
                <li class="active"><a href="about">About</a></li>
                <li><a href="publication">Publications</a></li>
                <li><a href="membership">Membership</a></li>
                <li><a href="contact">Contact</a></li>
                
                <li><a href="signin">Log in</a></li>
                
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/slide4.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:#DA5724;" >Early Involvement of Key Project Members</h1>
              <p>Getting the right people at the right time. Involving downstream players such as contractors, fabricators, and specialty tradepartners in the validation and design process when their input can have the most impact. </p>
              <p><a class="btn btn-large btn-primary" href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/slide1.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:#DA5724;">Steering Design to a Target Value</h1>
              <p>Setting an allowable cost based on the value or worth of the project to the owner. Working together, the design and construction tries to find innovation that can lower costs without compromising on scope or quality.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/slide5.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:#DA5724;">Shared Pains and Gains</h1>
              <p>"All for one and one for all." Target Value Design and Integrated Project Delivery aligns the commercial interests of the team through a shared pains and gains riskpool. </p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-12">
          
          <h2>What is Target Value Design? </h2>
          <p class="lead"> The origins of Target Value Design (TVD) can be traced back to Toyota’s Target costing (TC) approach. Originally introduced in Japan in the 1970s under the name of Genka Kikaku, Target costing is an approach to reduce the overall cost of a product over its entire life cycle, with the help of all the firm’s department and the active contribution from the supply chain. TC’s objective is to achieve a desired profit margin by steering design and construction to the corresponding target cost. 
          <br>
          <br>

          Target Value Design is the adaptation of TC to the pecularities of the construction industry. Unlike manufacturing where we produce one product for many customers, construction projects are largely unique with one product for one customer. TVD contains three key elements: 1) a feasibility study at the beginning of the project (ideally with the key project participants) to determine the client’s values and constraints, 2) setting the target cost to the amount that the client is willing or able to pay, and 3) designing to a constructing to that target cost. Application of this technique promise to help the construction industry raise the number of successful outcomes by allowing the project team to effectively control project costs.
          </p>
          <br>
          <h2>About Us </h2>
          <p class="lead">
            The Target Value Design Research Group was formed in 2009 to study the design and construction of hospital projects in California in which Target Value Design (TVD) and Integrated Project Delivery (IPD) are used. Since the process is fairly new, the aim of our research is to study the TVD process, understand problems that arises on a these projects, and take our lessons learned to improve upon the process. The TVD research has been primary focused on three main projects: Sutter Castro Valley ($230 million), Sutter Alta Bates ($220 million), and UCSF Mission Bay Medical ($750 million). Starting in the Fall of 2013, the TVD Research continued into Phase II of the research initiative. In Phase II, the TVD Research expanded its research to include several other major projects in California and invited more industry thought leaders to join in the study.

          </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer style="margin-top:80px;">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Target Value Design Research Group &middot; </p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="https://s3-us-west-2.amazonaws.com/tvdgroup/js/holder.js"></script>
  </body>
</html>
