<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Target Value Design Research Group</title>

    <!-- Bootstrap core CSS -->
    <link href="https://s3-us-west-2.amazonaws.com/tvdgroup/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="https://s3-us-west-2.amazonaws.com/tvdgroup/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">TVD Research Group</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="publication">Publications</a></li>
                <li class="active"><a href="membership">Membership</a></li>
                <li><a href="contact">Contact</a></li>
                
                <li><a href="signin">Log in</a></li>
                
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/slide4.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:#DA5724;" >Early Involvement of Key Project Members</h1>
              <p>Getting the right people at the right time. Involving downstream players such as contractors, fabricators, and specialty tradepartners in the validation and design process when their input can have the most impact. </p>
              <p><a class="btn btn-large btn-primary" href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/slide1.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:#DA5724;">Steering Design to a Target Value</h1>
              <p>Setting an allowable cost based on the value or worth of the project to the owner. Working together, the design and construction tries to find innovation that can lower costs without compromising on scope or quality.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/slide5.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:#DA5724;">Shared Pains and Gains</h1>
              <p>"All for one and one for all." Target Value Design and Integrated Project Delivery aligns the commercial interests of the team through a shared pains and gains riskpool. </p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->





    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
       <div class="row">
        <h2 style="margin-left:50px;">Contributing Members</h2>
        <br>
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/acco.jpg">
 
        </div>
        <div class="col-lg-4">
          
          <img  src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/berkeley.jpg">
     
       </div>
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/degenkolb.jpg">
         
        </div>
        
      </div>

      <div class="row">
       
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/devenney.jpg">
 
        </div>
        <div class="col-lg-4">
          
          <img  src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/dpr.png">
     
       </div>
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/herrick.jpg">
         
        </div>
        
      </div>

     <div class="row">
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/jciconstruction.png">
 
        </div>

        <div class="col-lg-4">
          
          <img  src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/kpff.jpg">
     
       </div>
        <div class="col-lg-4">
          
          <img  src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/mcclenahan.jpg">
     
       </div>
      </div>
       <div class="row">
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/rosedin.png">
         
        </div>
    
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/SouthlandInd_Logo_Color.jpg" style="margin-left:20px;">
 
        </div>
        <div class="col-lg-4">
          
          <img  src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/superior.jpg">
     
       </div>
      </div>
       <div class="row">
        <div class="col-lg-4">
          
          <img src="https://s3-us-west-2.amazonaws.com/tvdgroup/img/tee.png">
         
        </div>
      </div>>
        
     


     



      

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer style="margin-top:80px;">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Target Value Design Research Group &middot; </p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
  </body>
</html>
